{% sw_extends '@Storefront/storefront/page/checkout/confirm/index.html.twig' %}

{% block page_checkout_confirm %}
{{ parent() }}
	<div id="novalnet-payment-script">
		<input type="hidden" value="{{ null|shopVersion }}" id="nnShopVersion">
	</div>
{% endblock %}

