{% block sw_order_create_details_payment %}

	{% parent %}
	{% block sw_order_create_details_payment_novalnet_seaction %}
		<template v-if="novalnetPayment" >
			<sw-card
				rows="2"  :isLoading="isLoading"
				:title="$tc('novalnet-payment.module.title')" >
				<div >
					<iframe 
						v-if="loaded"
						id ="adminnovalnetPaymentiframe"
						width="100%"
						title="Novalnet Payment Form"
						style="border: 0px;"
					    :src="iframe.src">
					</iframe>
				</div>
			
			</sw-card>	
		
		</template>
		
	{% endblock %}
{% endblock %}
