.nnhide {
   display: none;
}
.novalnet-test-mode{
	position: relative;
	background-color: #0080c9;
	color: #fff;
	padding: 10px 20px;
	font-size: 10px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 0.8px;
	border-radius: 0px 0px 5px 5px;
	transition: transform 0.5s ease 0.5s;
	animation: novalnet-test-mode-blinker 2s linear infinite;
	font-weight: bold;
	float:right;
}

#novalnetsepa-payment, #novalnetsepaguarantee-payment, #novalnetcreditcard-payment, #novalnetpaypal-payment, #novalnetinvoiceguarantee-payment{
	display:none;
}

@keyframes novalnet-test-mode-blinker {
	50% {
		opacity: 0;
	}
}
.novalnet-input-field-container {
	width: 1000px !important;
}
#sepa_mandate_toggle{
		cursor:pointer;
		color: #5f7285;
}
	#sepa_mandate_toggle:hover{
		text-decoration:underline;
}
#sepa_mandate{
		cursor:pointer;
		color: #5f7285;
}
	#sepa_mandate:hover{
		text-decoration:underline;
}
.novalnet-challenge-window-overlay {
	position: fixed ! important;
	width: 100% ! important;
	height: 100% ! important;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 2;
	cursor: pointer;
}

@media only screen and (max-width: 600px) {
  #nnIframe {
    width: 100%;
  }
}

.novalnet-SavedPaymentMethods {
	list-style: none outside;
	margin: 0;
	.novalnet-SavedPaymentMethods-token,
	.novalnet-SavedPaymentMethods-new {
		margin: 0 0 0.5em;
		label {
			cursor: pointer;
		}
	}
	.novalnet-SavedPaymentMethods-tokenInput {
		vertical-align: middle;
		margin: -3px 1em 0 0;
		position: relative;
	}
}

