.guarantee_conditions{
	margin-left: 20px;
}

.guarantee_condtions_headings{
	font-weight: bold;
}

.novalnet_payment-settings-paypal-project{
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 8px;
}

.guarantee_condtions_list{
	list-style-position: inside;
}

.novalnet_payment_force_guarantee_enable_condtion,
.novalnet_payment_paypal_condition{
	line-height: 16px;
    font-size: 14px;
    margin-top: -12px;
    font-style: italic;
}

.novalnet_payment_paypal_condition{
	line-height: 16px;
    font-size: 14px;
    margin-top: -12px;
    font-style: italic;
    margin-bottom: 25px;
}
