{% block sw_order_create_detail_payment_info %}
	
		<template v-if="novalnetPayment" >
			<sw-card :title="$tc('novalnet-payment.module.title')" rows="2"  :isLoading="isLoading"  >
				<div >
					<iframe 
						v-if="loaded"
						id ="adminnovalnetPaymentiframe"
						width="100%"
						frameborder="0"
					  :src="iframe.src"></iframe>
				</div>
			</sw-card>	
		</template>
	
{% endblock %}
