{% block novalnet_payment_content_card_channel_config_credentials %}
	<sw-card class="sw-card--grid" 
			 :title="$tc('novalnet-payment.settingForm.credentials.cardTitle')">
				 
		{% block novalnet_payment_content_card_channel_config_credentials_card_container %}
			<sw-container>
				
				{% block novalnet_payment_content_card_channel_config_credentials_card_container_settings %}
					<div v-if="actualConfigData" class="novalnet_payment-settings-credentials">
						
							<sw-alert v-if="projectMode" variant="info" appearance="default" :showIcon="true" :closable="false">
								{{ $tc('novalnet-payment.module.projectInfo') }}
							</sw-alert>
						
							<div v-html = "$tc('novalnet-payment.module.generalInfo')" class="novalnet_payment-settings-project">
							</div>
							<div v-html = "$tc('novalnet-payment.module.PaymentConfiguration')" class="novalnet_payment-settings-project">
							</div>
						

						{% block novalnet_payment_content_card_channel_config_credentials_card_container_settings_client_id %}
							<sw-inherit-wrapper v-model:value="actualConfigData['NovalnetPayment.settings.clientId']"
												:inheritedValue="selectedSalesChannelId == null ? null : allConfigs['null']['NovalnetPayment.settings.clientId']"
												:customInheritationCheckFunction="checkTextFieldInheritance">
								<template #content="props">
									<sw-text-field name="NovalnetPayment.settings.clientId"
												   :value="apiActivationKey == null ? props.currentValue : apiActivationKey"
												   :label="$tc('novalnet-payment.settingForm.credentials.activationKey.label')"
												   :helpText="$tc('novalnet-payment.settingForm.credentials.activationKey.tooltipText')"
												   :disabled="!acl.can('novalnet_payment.editor')"
												   @update:value="onCheckApi">
									</sw-text-field>
								</template>
							</sw-inherit-wrapper>
							<sw-inherit-wrapper v-model:value="actualConfigData['NovalnetPayment.settings.accessKey']"
												:inheritedValue="selectedSalesChannelId == null ? null : allConfigs['null']['NovalnetPayment.settings.accessKey']"
												:customInheritationCheckFunction="checkTextFieldInheritance">
								<template #content="props">
									<sw-text-field name="NovalnetPayment.settings.accessKey"
												   :value="paymentAccessKey == null ? props.currentValue : paymentAccessKey"
												    autocomplete="off"
												   :label="$tc('novalnet-payment.settingForm.credentials.accessKey.label')"
												   :helpText="$tc('novalnet-payment.settingForm.credentials.accessKey.tooltipText')"
												   :disabled="!acl.can('novalnet_payment.editor')"
												   @update:value="onCheckApi">
									</sw-text-field>
								</template>
							</sw-inherit-wrapper>
						{% endblock %}
						
						{% block novalnet_payment_content_card_channel_config_credentials_card_container_settings_break %}
							<br>
						{% endblock %}
						
						{% block novalnet_payment_content_card_channel_config_credentials_card_container_settings_client_secret %}
						
							<sw-inherit-wrapper v-model:value="actualConfigData['NovalnetPayment.settings.clientKey']"
												:inheritedValue="selectedSalesChannelId == null ? null : allConfigs['null']['NovalnetPayment.settings.clientKey']"
												:customInheritationCheckFunction="checkTextFieldInheritance">
								<template #content="props">
									<sw-text-field name="NovalnetPayment.settings.clientKey"
												   v-show="shouldDisable"
												   :value="props.currentValue"
												   :disabled="!acl.can('novalnet_payment.editor')"
												   @update:value="props.updateCurrentValue">
									</sw-text-field>
								</template>
							</sw-inherit-wrapper>
							<sw-inherit-wrapper v-model:value="actualConfigData['NovalnetPayment.settings.tariff']"
											:inheritedValue="selectedSalesChannelId == null ? null : allConfigs['null']['NovalnetPayment.settings.tariff']"
											>
								<template #content="props">
									<sw-single-select name="NovalnetPayment.settings.tariff"
													  :options="tariffOptions"
													  :label="$tc('novalnet-payment.settingForm.credentials.tariff.label')"
													  :helpText="$tc('novalnet-payment.settingForm.credentials.tariff.tooltipText')"
													  :disabled="!acl.can('novalnet_payment.editor')"
													  :value="props.currentValue"
													  @update:value="props.updateCurrentValue">
									</sw-single-select>
								</template>
							</sw-inherit-wrapper>
							<sw-inherit-wrapper v-model:value="actualConfigData['NovalnetPayment.settings.emailMode']"
												:inheritedValue="selectedSalesChannelId == null ? null : allConfigs['null']['NovalnetPayment.settings.deactivateIp']"
											    :customInheritationCheckFunction="checkBoolFieldInheritance">
								<template #content="props">
									<sw-switch-field name="NovalnetPayment.settings.emailMode"
												   :mapInheritance="props"
												   :label="$tc('novalnet-payment.settingForm.credentials.orderEmailMode.label')"
												   :helpText="$tc('novalnet-payment.settingForm.credentials.orderEmailMode.tooltipText')"
												   :value="props.currentValue"
												   :disabled="props.isInherited || !acl.can('novalnet_payment.editor')"
												   @update:value="props.updateCurrentValue">
									</sw-switch-field>
								</template>
							</sw-inherit-wrapper>
							
							<sw-inherit-wrapper v-model:value="actualConfigData['NovalnetPayment.settings.onHoldStatus']"
													:inheritedValue="selectedSalesChannelId == null ? null : allConfigs['null']['NovalnetPayment.settings.onHoldStatus']">
									<template #content="props">
										<sw-single-select name="NovalnetPayment.settings.onHoldStatus"
														  :options="onHoldOptions"
														  :label="$tc('novalnet-payment.settingForm.credentials.onHold.label')"
														  :helpText="$tc('novalnet-payment.settingForm.credentials.onHold.tooltipText')"
														  :placeholder="$tc('novalnet-payment.onhold.select')"
														  :value="props.currentValue != null ? props.currentValue : onhold"
														  @update:value="props.updateCurrentValue">
														  
										</sw-single-select>
									</template>
							</sw-inherit-wrapper>
							
							<sw-inherit-wrapper v-model:value="actualConfigData['NovalnetPayment.settings.completeStatus']"
													:inheritedValue="selectedSalesChannelId == null ? null : allConfigs['null']['NovalnetPayment.settings.completeStatus']">
									<template #content="props">
										<sw-single-select name="NovalnetPayment.settings.completeStatus"
														  :options="completeOptions"
														  :label="$tc('novalnet-payment.settingForm.credentials.complete.label')"
														  :placeholder="$tc('novalnet-payment.onhold.select')"
														  :helpText="$tc('novalnet-payment.settingForm.credentials.complete.tooltipText')"
														  :value="props.currentValue != null ? props.currentValue : completed"
														  @update:value="props.updateCurrentValue">
														  
										</sw-single-select>
									</template>
							</sw-inherit-wrapper>
						{% endblock %}
					</div>
				{% endblock %}
			</sw-container>
		{% endblock %}

		{% block novalnet_payment_content_card_channel_loading %}
            <sw-loader v-if="isLoading"></sw-loader>
        {% endblock %}
	</sw-card>
{% endblock %}

{% block novalnet_payment_content_card_channel_config_merchant_credentials %}
	<sw-card class="sw-card--grid"
			 :title="$tc('novalnet-payment.settingForm.merchantSettings.cardTitle')">
		
		{% block novalnet_payment_content_card_channel_config_merchant_credentials_card_container %}
			<sw-container>
			
				{% block novalnet_payment_content_card_channel_config_merchant_credentials_card_container_settings %}
					<div v-if="actualConfigData" class="novalnet_payment-settings-merchant-credentials">

						{% block novalnet_payment_content_card_channel_config_merchant_credentials_card_container_settings_ip %}
							<sw-inherit-wrapper v-model:value="actualConfigData['NovalnetPayment.settings.callbackUrl']"
												:inheritedValue="selectedSalesChannelId == null ? null : allConfigs['null']['NovalnetPayment.settings.callbackUrl']"
                                                >
								<template #content="props">
									<sw-text-field name="NovalnetPayment.settings.callbackUrl"
												   v-model:value="NovalnetPaymentCallBackUrl"
												   class="novalnet-payment-callback-field"
												   :label="$tc('novalnet-payment.settingForm.merchantSettings.callbackUrl.label')"
												   :helpText="$tc('novalnet-payment.settingForm.merchantSettings.callbackUrl.tooltipText')"
												   :disabled="true"
												   @update:value="props.updateCurrentValue">
									</sw-text-field>
								</template>
							</sw-inherit-wrapper>
							<sw-button-process :disabled="false || !acl.can('novalnet_payment.editor')" :isLoading="buttonLoad"  @click="configureWebhookUrl()">
										{{ $tc('novalnet-payment.settingForm.merchantSettings.callbackUrl.button') }}
							</sw-button-process>
							<sw-inherit-wrapper v-model:value="actualConfigData['NovalnetPayment.settings.deactivateIp']"
												:inheritedValue="selectedSalesChannelId == null ? null : allConfigs['null']['NovalnetPayment.settings.deactivateIp']"
												>
								<template #content="props">
									<sw-switch-field name="NovalnetPayment.settings.deactivateIp"
									                 :mapInheritance="props"
													 :label="$tc('novalnet-payment.settingForm.merchantSettings.deactivateIp.label')"
													 :helpText="$tc('novalnet-payment.settingForm.merchantSettings.deactivateIp.tooltipText')"
													 :disabled="props.isInherited || !acl.can('novalnet_payment.editor')"
													 :value="props.currentValue"
													 @update:value="props.updateCurrentValue">
									</sw-switch-field>
								</template>
							</sw-inherit-wrapper>
							<sw-inherit-wrapper v-model:value="actualConfigData['NovalnetPayment.settings.mailTo']"
												:inheritedValue="selectedSalesChannelId == null ? null : allConfigs['null']['NovalnetPayment.settings.mailTo']"
												:customInheritationCheckFunction="checkTextFieldInheritance" >
								<template #content="props">
									<sw-text-field name="NovalnetPayment.settings.mailTo"
												   :mapInheritance="props"
												   :isInherited="props.isInherited"
												   :label="$tc('novalnet-payment.settingForm.merchantSettings.mailTo.label')"
												   :helpText="$tc('novalnet-payment.settingForm.merchantSettings.mailTo.tooltipText')"
												   :disabled="props.isInherited || !acl.can('novalnet_payment.editor')"
												   :value="props.currentValue"
												   @update:value="props.updateCurrentValue">
									</sw-text-field>
								</template>
							</sw-inherit-wrapper>
						{% endblock %}
					</div>
				{% endblock %}
			</sw-container>
		{% endblock %}
	</sw-card>
{% endblock %}
