{% block novalnet_payment_content_card_config_credentials %}
	<mt-card class="sw-card--grid" 
			 :title="$tc('novalnet-payment.settingForm.credentials.cardTitle')">
				 
		{% block novalnet_payment_content_card_config_credentials_card_container %}
			<sw-container>
				
				{% block novalnet_payment_content_card_config_credentials_card_container_settings %}
					<div v-if="actualConfigData" class="novalnet_payment-settings-credentials">
						
						{% block novalnet_payment_content_card_config_credentials_card_container_project_info %}
							<mt-banner v-if="projectMode" variant="info" appearance="default" :showIcon="true" :closable="false">
								{{ $tc('novalnet-payment.module.projectInfo') }}
							</mt-banner>
						{% endblock %}
						
						{% block novalnet_payment_content_card_config_credentials_card_container_general_info %}
							<div v-html="generalInformation" class="novalnet_payment-settings-project"></div>
							<div v-html="installationInformation" class="novalnet_payment-settings-project"></div>
						{% endblock %}
						
						{% block novalnet_payment_content_card_config_credentials_card_container_settings_client_id %}
							<sw-inherit-wrapper v-model:value="actualConfigData['NovalnetPayment.settings.clientId']"
												:inheritedValue="selectedSalesChannelId == null ? null : allConfigs['null']['NovalnetPayment.settings.clientId']"
												:label="$tc('novalnet-payment.settingForm.credentials.activationKey.label')"
												:helpText="$tc('novalnet-payment.settingForm.credentials.activationKey.tooltipText')">
								<template #content="props">
									<mt-text-field name="NovalnetPayment.settings.clientId"
													:mapInheritance="props"
												   :model-value="props.currentValue"
												    :disabled="props.isInherited || !acl.can('novalnet_payment.editor')"
												   @update:model-value="onCheckApi">
									</mt-text-field>
								</template>
							</sw-inherit-wrapper>
							<sw-inherit-wrapper v-model:value="actualConfigData['NovalnetPayment.settings.accessKey']"
												:inheritedValue="selectedSalesChannelId == null ? null : allConfigs['null']['NovalnetPayment.settings.accessKey']"
												 :label="$tc('novalnet-payment.settingForm.credentials.accessKey.label')"
												   :helpText="$tc('novalnet-payment.settingForm.credentials.accessKey.tooltipText')">
								<template #content="props">
									<mt-text-field name="NovalnetPayment.settings.accessKey"
												:mapInheritance="props"
												   :model-value="props.currentValue"
												    autocomplete="off"
												   :disabled="props.isInherited || !acl.can('novalnet_payment.editor')"
												   @update:model-value="onCheckApi">
									</mt-text-field>
								</template>
							</sw-inherit-wrapper>
							<sw-inherit-wrapper v-model:value="actualConfigData['NovalnetPayment.settings.clientKey']"
												:inheritedValue="selectedSalesChannelId == null ? null : allConfigs['null']['NovalnetPayment.settings.clientKey']">
								<template #content="props">
									<mt-text-field name="NovalnetPayment.settings.clientKey"
												   v-show="shouldDisable"
												   :model-value="props.currentValue"
												   :disabled="!acl.can('novalnet_payment.editor')">
									</mt-text-field>
								</template>
							</sw-inherit-wrapper>
							<sw-inherit-wrapper v-model:value="actualConfigData['NovalnetPayment.settings.tariff']"
											:inheritedValue="selectedSalesChannelId == null ? null : allConfigs['null']['NovalnetPayment.settings.tariff']">
								<template #content="props">
									<sw-single-select name="NovalnetPayment.settings.tariff"
													  :v-model:value="tariffId"
													  :options="tariffOptions"
													  :label="$tc('novalnet-payment.settingForm.credentials.tariff.label')"
													  :helpText="$tc('novalnet-payment.settingForm.credentials.tariff.tooltipText')"
													  :disabled="!acl.can('novalnet_payment.editor')"
													  :value="props.currentValue"
													  @update:value="props.updateCurrentValue">
									</sw-single-select>
								</template>
							</sw-inherit-wrapper>
							<sw-inherit-wrapper v-model:value="actualConfigData['NovalnetPayment.settings.emailMode']"
												:inheritedValue="selectedSalesChannelId == null ? null : allConfigs['null']['NovalnetPayment.settings.emailMode']"
											    >
								<template #content="props">
									<mt-switch name="NovalnetPayment.settings.emailMode"
													 bordered
												     :label="$tc('novalnet-payment.settingForm.credentials.orderEmailMode.label')"
												     :helpText="$tc('novalnet-payment.settingForm.credentials.orderEmailMode.tooltipText')"
												     :is-inheritance-field="props.isInheritField"
												     :is-inherited="props.isInherited"
													 :disabled="props.isInherited || !acl.can('novalnet_payment.editor')"
													 @inheritance-restore="props.restoreInheritance"
													 @inheritance-remove="props.removeInheritance"
													:model-value="props.currentValue"
												    @update:model-value="props.updateCurrentValue">
									</mt-switch>
								</template>
							</sw-inherit-wrapper>
						{% endblock %}
					</div>
				{% endblock %}
			</sw-container>
		{% endblock %}

		{% block novalnet_payment_content_card_loading %}
            <mt-loader v-if="isLoading"></mt-loader>
        {% endblock %}
	</mt-card>
{% endblock %}

{% block novalnet_payment_content_card_config_merchant_credentials %}
	<mt-card class="sw-card--grid"
			 :title="$tc('novalnet-payment.settingForm.merchantSettings.cardTitle')">
		
		{% block novalnet_payment_content_card_config_merchant_credentials_card_container %}
			<sw-container>
			
				{% block novalnet_payment_content_card_config_merchant_credentials_card_container_settings %}
					<div v-if="actualConfigData" class="novalnet_payment-settings-merchant-credentials">

						{% block novalnet_payment_content_card_config_merchant_credentials_card_container_settings_ip %}
							<sw-inherit-wrapper v-model:value="actualConfigData['NovalnetPayment.settings.callbackUrl']"
												:inheritedValue="selectedSalesChannelId == null ? null : allConfigs['null']['NovalnetPayment.settings.callbackUrl']"
												:label="$tc('novalnet-payment.settingForm.merchantSettings.callbackUrl.label')"
												:helpText="$tc('novalnet-payment.settingForm.merchantSettings.callbackUrl.tooltipText')">
								<template #content="props">
									<mt-text-field name="NovalnetPayment.settings.callbackUrl"
												   :mapInheritance="props"
												   :disabled="props.isInherited || !acl.can('novalnet_payment.editor')"
												   :model-value="props.currentValue"
												   @update:model-value="props.updateCurrentValue">
									</mt-text-field>
								</template>
							</sw-inherit-wrapper>
							<sw-button-process class="novalnet-payment-callback-field" :disabled="false || !acl.can('novalnet_payment.editor')" :isLoading="buttonLoad"  @click="configureWebhookUrl()">
										{{ $tc('novalnet-payment.settingForm.merchantSettings.callbackUrl.button') }}
							</sw-button-process>
							<sw-inherit-wrapper v-model:value="actualConfigData['NovalnetPayment.settings.deactivateIp']"
												:inheritedValue="selectedSalesChannelId == null ? null : allConfigs['null']['NovalnetPayment.settings.deactivateIp']"
												>
								<template #content="props">
									<mt-switch name="NovalnetPayment.settings.deactivateIp"
													 bordered
													 :label="$tc('novalnet-payment.settingForm.merchantSettings.deactivateIp.label')"
													 :helpText="$tc('novalnet-payment.settingForm.merchantSettings.deactivateIp.tooltipText')"
													 :is-inheritance-field="props.isInheritField"
													 :is-inherited="props.isInherited"
													 :disabled="props.isInherited || !acl.can('novalnet_payment.editor')"
													 @inheritance-restore="props.restoreInheritance"
													 @inheritance-remove="props.removeInheritance"
													 :model-value="props.currentValue"
													 @update:model-value="props.updateCurrentValue" >
									</mt-switch>
								</template>
							</sw-inherit-wrapper>
							<sw-inherit-wrapper v-model:value="actualConfigData['NovalnetPayment.settings.mailTo']"
												:inheritedValue="selectedSalesChannelId == null ? null : allConfigs['null']['NovalnetPayment.settings.mailTo']"
												:label="$tc('novalnet-payment.settingForm.merchantSettings.mailTo.label')"
												:helpText="$tc('novalnet-payment.settingForm.merchantSettings.mailTo.tooltipText')">
								<template #content="props">
									<mt-text-field name="NovalnetPayment.settings.mailTo"
												   :mapInheritance="props"
												   :disabled="props.isInherited || !acl.can('novalnet_payment.editor')"
												   :model-value="props.currentValue"
												   @update:model-value="props.updateCurrentValue">
									</mt-text-field>
								</template>
							</sw-inherit-wrapper>
						{% endblock %}
					</div>
				{% endblock %}
			</sw-container>
		{% endblock %}
	</mt-card>
{% endblock %}
