{% block novalnet_payment_content_card_channel_config_credentials %}
<sw-card-view style="position: relative;">
	<div v-if="actualConfigData" class="novalnet-payment-settings-fields">
		<sw-card class="sw-card--grid"
				 :title="$tc('novalnet-payment.settingForm.credentials.cardTitle')">

			{% block novalnet_payment_content_card_channel_config_credentials_card_container %}
				<sw-container>

					{% block novalnet_payment_content_card_channel_config_credentials_card_container_settings %}
						<div v-if="actualConfigData" class="novalnet_payment-settings-credentials">
						<sw-alert v-if="projectMode" variant="info" appearance="default" :showIcon="true" :closable="false">
							{{ $tc('novalnet-payment.module.projectInfo') }}
						</sw-alert>

						<div v-html="generalInformation" class="novalnet_payment-settings-project">
						</div>
						<br>

							{% block novalnet_payment_content_card_channel_config_credentials_card_container_settings_client_id %}
								<sw-inherit-wrapper v-model="actualConfigData['NovalnetPayment.settings.clientId']"
													:inheritedValue="selectedSalesChannelId == null ? null : allConfigs['null']['NovalnetPayment.settings.clientId']"
													:customInheritationCheckFunction="checkTextFieldInheritance">
									<template #content="props">
										<sw-text-field name="NovalnetPayment.settings.clientId"
													   :value="apiActivationKey == null ? props.currentValue : apiActivationKey"
													   :label="$tc('novalnet-payment.settingForm.credentials.activationKey.label') | raw "
													   :helpText="$tc('novalnet-payment.settingForm.credentials.activationKey.tooltipText')"
													   @change="onCheckApi">
										</sw-text-field>
									</template>
								</sw-inherit-wrapper>
								<sw-inherit-wrapper v-model="actualConfigData['NovalnetPayment.settings.accessKey']"
													:inheritedValue="selectedSalesChannelId == null ? null : allConfigs['null']['NovalnetPayment.settings.accessKey']"
													:customInheritationCheckFunction="checkTextFieldInheritance">
									<template #content="props">
										<sw-text-field name="NovalnetPayment.settings.accessKey"
													   :value="paymentAccessKey == null ? props.currentValue : paymentAccessKey"
													   autocomplete="off"
													   :label="$tc('novalnet-payment.settingForm.credentials.accessKey.label')"
													   :helpText="$tc('novalnet-payment.settingForm.credentials.accessKey.tooltipText')"
													   @change="onCheckApi">
										</sw-text-field>
									</template>
								</sw-inherit-wrapper>
							{% endblock %}
							{% block novalnet_payment_content_card_channel_config_credentials_card_container_settings_break %}
								<br>
							{% endblock %}

							{% block novalnet_payment_content_card_channel_config_credentials_card_container_settings_client_secret %}
								<sw-inherit-wrapper v-model="actualConfigData['NovalnetPayment.settings.clientKey']"
													:inheritedValue="selectedSalesChannelId == null ? null : allConfigs['null']['NovalnetPayment.settings.clientKey']"
													:customInheritationCheckFunction="checkTextFieldInheritance">
									<template #content="props">
										<sw-text-field name="NovalnetPayment.settings.clientKey"
													   :mapInheritance="props"
													   v-show="shouldDisable"
													   :value="props.currentValue">
										</sw-text-field>
									</template>
								</sw-inherit-wrapper>
								<sw-inherit-wrapper v-model="actualConfigData['NovalnetPayment.settings.tariff']"
													:inheritedValue="selectedSalesChannelId == null ? null : allConfigs['null']['NovalnetPayment.settings.tariff']">
									<template #content="props">
										<sw-single-select name="NovalnetPayment.settings.tariff"
														  :v-model="tariffId"
														  :options="tariffOptions"
														  :label="$tc('novalnet-payment.settingForm.credentials.tariff.label')"
														  :helpText="$tc('novalnet-payment.settingForm.credentials.tariff.tooltipText')"
														  :value="props.currentValue"
														  @change="props.updateCurrentValue"
														  :placeholder="$tc('novalnet-payment.settingForm.credentials.tariff.label')">
										</sw-single-select>
									</template>
								</sw-inherit-wrapper>
							{% endblock %}
						</div>
					{% endblock %}

					{% block novalnet_payment_content_card_loading %}
                        <sw-loader v-if="isLoading"></sw-loader>
                    {% endblock %}

				</sw-container>
			{% endblock %}
		</sw-card>
	{% endblock %}
	{% block novalnet_payment_content_card_channel_config_merchant_credentials %}
		<sw-card class="sw-card--grid"
				 :title="$tc('novalnet-payment.settingForm.merchantSettings.cardTitle')">
			{% block novalnet_payment_content_card_channel_config_merchant_credentials_card_container %}
				<sw-container>
					{% block novalnet_payment_content_card_channel_config_merchant_credentials_card_container_settings %}
						<div v-if="actualConfigData" class="novalnet_payment-settings-merchant-credentials">
							{% block novalnet_payment_content_card_channel_config_merchant_credentials_card_container_settings_ip %}

								<sw-inherit-wrapper v-model="actualConfigData['NovalnetPayment.settings.callbackUrl']"
													:inheritedValue="selectedSalesChannelId == null ? null : allConfigs['null']['NovalnetPayment.settings.callbackUrl']"
													:customInheritationCheckFunction="checkTextFieldInheritance">
									<template #content="props">
										<sw-text-field name="NovalnetPayment.settings.callbackUrl"
													   v-model="NovalnetPaymentCallBackUrl"
													   class="novalnet-payment-callback-field"
													   :mapInheritance="props"
													   :label="$tc('novalnet-payment.settingForm.merchantSettings.callbackUrl.label')"
													   :helpText="$tc('novalnet-payment.settingForm.merchantSettings.callbackUrl.tooltipText')"
													   @change="props.updateCurrentValue">
										</sw-text-field>
									</template>
								</sw-inherit-wrapper>
								<sw-button-process :disabled="false" :isLoading="buttonLoad" @click="configureWebhookUrl()">
											{{ $tc('novalnet-payment.settingForm.merchantSettings.callbackUrl.button') }}
								</sw-button-process>
								<sw-inherit-wrapper v-model="actualConfigData['NovalnetPayment.settings.deactivateIp']"
													:inheritedValue="selectedSalesChannelId == null ? null : allConfigs['null']['NovalnetPayment.settings.deactivateIp']"
													:customInheritationCheckFunction="checkBoolFieldInheritance">
									<template #content="props">
										<sw-switch-field name="NovalnetPayment.settings.deactivateIp"
														 :mapInheritance="props"
														 :label="$tc('novalnet-payment.settingForm.merchantSettings.deactivateIp.label')"
														 :helpText="$tc('novalnet-payment.settingForm.merchantSettings.deactivateIp.tooltipText')"
														 :disabled="props.isInherited"
														 :value="props.currentValue"
														 @change="props.updateCurrentValue">
										</sw-switch-field>
									</template>
								</sw-inherit-wrapper>
								<sw-inherit-wrapper v-model="actualConfigData['NovalnetPayment.settings.mailTo']"
													:inheritedValue="selectedSalesChannelId == null ? null : allConfigs['null']['NovalnetPayment.settings.mailTo']"
													:customInheritationCheckFunction="checkTextFieldInheritance">
									<template #content="props">
										<sw-text-field name="NovalnetPayment.settings.mailTo"
													   :mapInheritance="props"
													   :label="$tc('novalnet-payment.settingForm.merchantSettings.mailTo.label')"
													   :helpText="$tc('novalnet-payment.settingForm.merchantSettings.mailTo.tooltipText')"
													   :disabled="props.isInherited"
													   :value="props.currentValue"
													   @change="props.updateCurrentValue">
										</sw-text-field>
									</template>
								</sw-inherit-wrapper>
							{% endblock %}
						</div>
					{% endblock %}
				</sw-container>
			{% endblock %}
		</sw-card>
	</div>
</sw-card-view>
{% endblock %}
