{% block novalnet_payment_content_card_channel_config_credentials %}
<sw-card-view style="position: relative;">
	<div v-if="actualConfigData" class="novalnet-payment-settings-fields">
		<sw-card class="sw-card--grid"
				 :title="$tc('novalnet-payment.settingForm.credentials.cardTitle')">

			{% block novalnet_payment_content_card_channel_config_credentials_card_container %}
				<sw-container>

					{% block novalnet_payment_content_card_channel_config_credentials_card_container_settings %}
						<div v-if="actualConfigData" class="novalnet_payment-settings-credentials">
						<sw-alert v-if="projectMode" variant="info" appearance="default" :showIcon="true" :closable="false">
							{{ $tc('novalnet-payment.module.projectInfo') }}
						</sw-alert>

						<div v-html="generalInformation" class="novalnet_payment-settings-project">
						</div>
						<div v-html="PaymentConfiguration" class="novalnet_payment-settings-project">
						</div>
						<br>

							{% block novalnet_payment_content_card_channel_config_credentials_card_container_settings_client_id %}
								<sw-inherit-wrapper v-model="actualConfigData['NovalnetPayment.settings.clientId']"
													:inheritedValue="selectedSalesChannelId == null ? null : allConfigs['null']['NovalnetPayment.settings.clientId']"
													:label="$tc('novalnet-payment.settingForm.credentials.activationKey.label') | raw "
													:helpText="$tc('novalnet-payment.settingForm.credentials.activationKey.tooltipText')">
									<template #content="props">
										<sw-text-field name="NovalnetPayment.settings.clientId"
													    :value="props.currentValue"
													    :disabled="props.isInherited || !acl.can('novalnet_payment.editor')"
													    @input="(value) => { props.updateCurrentValue(value); onInput(value, 'NovalnetPayment.settings.clientId'); }" >
													   
										</sw-text-field>
									</template>
								</sw-inherit-wrapper>
								<sw-inherit-wrapper v-model="actualConfigData['NovalnetPayment.settings.accessKey']"
													:inheritedValue="selectedSalesChannelId == null ? null : allConfigs['null']['NovalnetPayment.settings.accessKey']"
													:label="$tc('novalnet-payment.settingForm.credentials.accessKey.label')"
													:helpText="$tc('novalnet-payment.settingForm.credentials.accessKey.tooltipText')">
									<template #content="props">
										<sw-text-field name="NovalnetPayment.settings.accessKey"
													   :value="props.currentValue"
													   autocomplete="off"
													   :disabled=" props.isInherited || !acl.can('novalnet_payment.editor')"
													   @input="(value) => { props.updateCurrentValue(value); onInput(value, 'NovalnetPayment.settings.accessKey'); }"
													   >
										</sw-text-field>
									</template>
								</sw-inherit-wrapper>
							{% endblock %}
							{% block novalnet_payment_content_card_channel_config_credentials_card_container_settings_break %}
								<br>
							{% endblock %}

							{% block novalnet_payment_content_card_channel_config_credentials_card_container_settings_client_secret %}
								<sw-inherit-wrapper v-model="actualConfigData['NovalnetPayment.settings.clientKey']"
													:inheritedValue="selectedSalesChannelId == null ? null : allConfigs['null']['NovalnetPayment.settings.clientKey']"
													:customInheritationCheckFunction="checkTextFieldInheritance">
									<template #content="props">
										<sw-text-field name="NovalnetPayment.settings.clientKey"
													   :mapInheritance="props"
													   v-show="shouldDisable"
													   :disabled="!acl.can('novalnet_payment.editor')"
													   :value="props.currentValue"
													   >
										</sw-text-field>
									</template>
								</sw-inherit-wrapper>
								<sw-inherit-wrapper v-model="actualConfigData['NovalnetPayment.settings.tariff']"
													:inheritedValue="selectedSalesChannelId == null ? null : allConfigs['null']['NovalnetPayment.settings.tariff']">
									<template #content="props">
										<sw-single-select name="NovalnetPayment.settings.tariff"
														  :v-model="tariffId"
														  :options="tariffOptions"
														  :label="$tc('novalnet-payment.settingForm.credentials.tariff.label')"
														  :helpText="$tc('novalnet-payment.settingForm.credentials.tariff.tooltipText')"
														  :value="props.currentValue"
														  :disabled="!acl.can('novalnet_payment.editor')"
														  @change="props.updateCurrentValue">
														  
										</sw-single-select>
									</template>
								</sw-inherit-wrapper>
								<sw-inherit-wrapper v-model="actualConfigData['NovalnetPayment.settings.emailMode']"
														:inheritedValue="selectedSalesChannelId == null ? null : allConfigs['null']['NovalnetPayment.settings.emailMode']"
														>
										<template #content="props">
											<sw-switch-field name="NovalnetPayment.settings.emailMode"
															:map-inheritance="props"
														   :label="$tc('novalnet-payment.settingForm.credentials.orderEmailMode.label')"
														   :helpText="$tc('novalnet-payment.settingForm.credentials.orderEmailMode.tooltipText')"
														   :value="props.currentValue"
														   :disabled=" props.isInherited || !acl.can('novalnet_payment.editor')"
														   @change="props.updateCurrentValue">
											</sw-switch-field>
										</template>
								</sw-inherit-wrapper>
									
								<sw-inherit-wrapper v-model="actualConfigData['NovalnetPayment.settings.onHoldStatus']"
													:inheritedValue="selectedSalesChannelId == null ? null : allConfigs['null']['NovalnetPayment.settings.onHoldStatus']"
													:label="$tc('novalnet-payment.settingForm.credentials.onHold.label')"
													:helpText="$tc('novalnet-payment.settingForm.credentials.onHold.tooltipText')" >
									<template #content="props">
										<sw-single-select name="NovalnetPayment.settings.onHoldStatus"
										                  :v-model = "onHoldStatusId"
														  :options="onHoldOptions"
														  :placeholder="$tc('novalnet-payment.onhold.select')"
														  :mapInheritance="props"
												          :disabled="props.isInherited || !acl.can('novalnet_payment.editor')"
														  :value="props.currentValue != null ? props.currentValue : onhold"
														  @change="props.updateCurrentValue">
														  
										</sw-single-select>
									</template>
								</sw-inherit-wrapper>
								
								<sw-inherit-wrapper v-model="actualConfigData['NovalnetPayment.settings.completeStatus']"
													:inheritedValue="selectedSalesChannelId == null ? null : allConfigs['null']['NovalnetPayment.settings.completeStatus']"
													:label="$tc('novalnet-payment.settingForm.credentials.complete.label')"
													:helpText="$tc('novalnet-payment.settingForm.credentials.complete.tooltipText')">
									<template #content="props">
										<sw-single-select name="NovalnetPayment.settings.completeStatus"
										                  :v-model = "completeStatusId"
														  :options="completeOptions"
														  :placeholder="$tc('novalnet-payment.onhold.select')"
														  :value="props.currentValue != null ? props.currentValue : completed"
														  :disabled="props.isInherited || !acl.can('novalnet_payment.editor')"
														  @change="props.updateCurrentValue">
														  
										</sw-single-select>
									</template>
								</sw-inherit-wrapper>
							{% endblock %}
						</div>
					{% endblock %}

					{% block novalnet_payment_content_card_loading %}
                        <sw-loader v-if="isLoading"></sw-loader>
                    {% endblock %}

				</sw-container>
			{% endblock %}
		</sw-card>
	{% endblock %}
	{% block novalnet_payment_content_card_channel_config_merchant_credentials %}
		<sw-card class="sw-card--grid"
				 :title="$tc('novalnet-payment.settingForm.merchantSettings.cardTitle')">
			{% block novalnet_payment_content_card_channel_config_merchant_credentials_card_container %}
				<sw-container>
					{% block novalnet_payment_content_card_channel_config_merchant_credentials_card_container_settings %}
						<div v-if="actualConfigData" class="novalnet_payment-settings-merchant-credentials">
							{% block novalnet_payment_content_card_channel_config_merchant_credentials_card_container_settings_ip %}

								<sw-inherit-wrapper v-model="actualConfigData['NovalnetPayment.settings.callbackUrl']"
													:inheritedValue="selectedSalesChannelId == null ? null : allConfigs['null']['NovalnetPayment.settings.callbackUrl']"
													:label="$tc('novalnet-payment.settingForm.merchantSettings.callbackUrl.label')"
													:helpText="$tc('novalnet-payment.settingForm.merchantSettings.callbackUrl.tooltipText')">
									<template #content="props">
										<sw-text-field name="NovalnetPayment.settings.callbackUrl"
													   class="novalnet-payment-callback-field"
													   :disabled="props.isInherited || !acl.can('novalnet_payment.editor')"
													   :value="props.currentValue"
													   @change="props.updateCurrentValue">
										</sw-text-field>
									</template>
								</sw-inherit-wrapper>
								<sw-button-process :disabled="false" :isLoading="buttonLoad" @click="configureWebhookUrl()" >
											{{ $tc('novalnet-payment.settingForm.merchantSettings.callbackUrl.button') }}
								</sw-button-process >
								<sw-inherit-wrapper v-model="actualConfigData['NovalnetPayment.settings.deactivateIp']"
													:inheritedValue="selectedSalesChannelId == null ? null : allConfigs['null']['NovalnetPayment.settings.deactivateIp']"
													>
									<template #content="props">
										<sw-switch-field name="NovalnetPayment.settings.deactivateIp"
														:map-inheritance="props"
														 :label="$tc('novalnet-payment.settingForm.merchantSettings.deactivateIp.label')"
														 :helpText="$tc('novalnet-payment.settingForm.merchantSettings.deactivateIp.tooltipText')"
														 :disabled="props.isInherited || !acl.can('novalnet_payment.editor')"
														 :value="props.currentValue"
														 @change="props.updateCurrentValue" >
										</sw-switch-field>
									</template>
								</sw-inherit-wrapper>
								<sw-inherit-wrapper v-model="actualConfigData['NovalnetPayment.settings.mailTo']"
													:inheritedValue="selectedSalesChannelId == null ? null : allConfigs['null']['NovalnetPayment.settings.mailTo']"
													:label="$tc('novalnet-payment.settingForm.merchantSettings.mailTo.label')"
													:helpText="$tc('novalnet-payment.settingForm.merchantSettings.mailTo.tooltipText')">
									<template #content="props">
										<sw-text-field name="NovalnetPayment.settings.mailTo"
													   :disabled="props.isInherited || !acl.can('novalnet_payment.editor')"
													   :value="props.currentValue"
													   @change="props.updateCurrentValue">
										</sw-text-field>
									</template>
								</sw-inherit-wrapper>
							{% endblock %}
						</div>
					{% endblock %}
				</sw-container>
			{% endblock %}
		</sw-card>
	</div>
</sw-card-view>
{% endblock %}
