dt {
  font-weight: 600;

  &:not(:first-child), &:only-of-type{
    padding-top: 10px;
  }
}

.novalnet-payment-action-toolbar {
    margin-top: 15px;
}

.novalnet-payment-order-page {
    padding: 30px;

    border-bottom: 1px solid #d1d9e0
}

.novalnet-payment-buyer-notification {
    height: 80px;
    width: 100%;
    display: flex;
}

.novalnet-payment-buyer-notification-icon-container {
    width: 80px;
    background: rgb(249, 250, 251);
    border-radius: 4px;
    border: 1px solid rgb(209, 217, 224);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.novalnet-payment-buyer-info-name {
    margin-top: 16px;
    margin-left: 24px;
}

.novalnet-payment-buyer-info-full-name {
    font-weight: 600;
    font-size: 18px;
}

.novalnet-payment-buyer-info-email {
    font-size: 14px;
}

.novalnet-payment-amount-info-total-amount {
    font-size: 18px;
    font-weight: 600;
    height: 25px;
    margin-right: 26px;
}

.novalnet-payment-captured-amount-help-icon,
.novalnet-payment-refuned-amount-help-icon {
    margin-left: 8px;
}

.novalnet-payment-amount-captured-amount {
    color: green;
    font-size: 14px;
}

.novalnet-payment-refuned-amount {
    color: red;
    font-size: 14px;
}

.novalnet-payment-amount-info-charge-date {
    margin-right: 26px;
    font-size: 14px;
    margin-top: 3px;
}

.novalnet-payment-amount-info-amount {
    margin: 0 0 0 auto;
    width: 11em;
}

.novalnet-payment-checkout-info-header, dt {
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    margin-bottom: 4px;
}

.novalnet-payment-checkout-info-comments {
    font-size: 14px;
}

.novalnet-payment-checkout-info-label,
.novalnet-payment-checkout-status-info {
    font-size: 14px;
}


