{% block novalnet_payment_order_refund_modal %}
    <sw-modal :title="$tc('novalnet-payment.settingForm.extension.refundButton')"
              @modal-close="closeModal">

			{% block novalnet_payment_order_refund_modal_content %}
				<template #default>

					{% block novalnet_payment_order_refund_modal_content_info_text %}
                        <sw-container columns="1fr"
                                      gap="0px 30px">
                            <div>
                                {{ $tc('novalnet-payment.settingForm.extension.cancelMessage') }}
                            </div>
                        </sw-container>
					{% endblock %}
				</template>
			{% endblock %}

			{% block novalnet_payment_order_refund_modal_actions %}
				<template #modal-footer>

					{% block novalnet_payment_order_refund_modal_confirm %}
						<sw-button secondary slim variant="primary" :disabled="disable" :square="false" :block="false" :isLoading="false" @click="novalnetRefund">
							{{ $tc('novalnet-payment.settingForm.extension.refundButton') }}
						</sw-button>
					{% endblock %}
				</template>
			{% endblock %}
    </sw-modal>
{% endblock %}
